<% provide(:title, 'Home')%>
<div class="container">
<div id="carousel-example-generic" class="carousel slide" data-ride="carousel">
  <!-- Indicators -->
  <ol class="carousel-indicators">
    <li data-target="#carousel-example-generic" data-slide-to="0" class="active"></li>
    <li data-target="#carousel-example-generic" data-slide-to="1"></li>
    <li data-target="#carousel-example-generic" data-slide-to="2"></li>
	<li data-target="#carousel-example-generic" data-slide-to="3"></li>
  </ol>
 
  <!-- Wrapper for slides -->
  <div class="carousel-inner">
    <div class="item active">
      <%= image_tag("bot1.jpg") %>
      <div class="carousel-caption">
          <%= link_to "Lets Clean", cleaning_path, class: "btn btn-lg btn-danger" %>
          <h3 class="BlackText">Cleaning Bot v1.0</h3>
      </div>
    </div>
    <div class="item">
      <%= image_tag("bot2.jpg") %>
      <div class="carousel-caption">
          <%= link_to "Lets Build", build_path, class: "btn btn-lg btn-danger" %>
          <h3 class="BlackText">Build Bot v1.0</h3>
      </div>
    </div>
    <div class="item">
      <%= image_tag("bot3.jpg") %>
      <div class="carousel-caption">
		  <%= link_to "Lets get Personal", personal_path, class: "btn btn-lg btn-danger" %>
		  <h3 class="BlackText">Personal Bot v1.0</h3>
      </div>
    </div>
    <div class="item">
      <%= image_tag("bot4.jpg") %>
      <div class="carousel-caption">
		  <%= link_to "Just Basic Labor", labor_path, class: "btn btn-lg btn-danger" %>
		  <h3 class="BlackText">Labor Bot v1.0</h3>
      </div>
    </div>
  </div>
 
  <!-- Controls -->
  <a class="left carousel-control" href="#carousel-example-generic" role="button" data-slide="prev">
    <span class="glyphicon glyphicon-chevron-left"></span>
  </a>
  <a class="right carousel-control" href="#carousel-example-generic" role="button" data-slide="next">
    <span class="glyphicon glyphicon-chevron-right"></span>
  </a>
</div> <!-- Carousel -->
</div>

	
